@page "/unitedit/{unitId}"
@inject NavigationManager NavigationManager
@using DevExpress.Blazor
@inject IStringLocalizer<BaseStrings> baseLocalizer
@inject IStringLocalizer<CommonStrings> commonLocalizer
@rendermode InteractiveServer

@* <MdToolBar IsActive="true" OnSave="@SaveUnit" OnCancel="@Cancel" /> *@

<div class="header-container">
    <h3>@baseLocalizer["UnitChange"]</h3>
</div>


<EditForm Model="@unit"
          OnValidSubmit="@HandleValidSubmit"
          OnInvalidSubmit="@HandleInvalidSubmit"
          Context="EditFormContext">

    <DataAnnotationsValidator />
<DxFormLayout>
    <DxFormLayoutItem Caption="@baseLocalizer["CodeUnits"]">
            <DxTextBox InputId="identifierInputId" @bind-Text="unit.Code" ShowValidationIcon="true" />
            <ValidationMessage For="@(() => unit.Code)" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@baseLocalizer["LabelUnits"]">
            <DxTextBox @bind-Text="unit.Label" ShowValidationIcon="true" />
            <ValidationMessage For="@(() => unit.Label)" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@baseLocalizer["NameUnits"]">
            <DxTextBox @bind-Text="unit.Name" ShowValidationIcon="true" />
            <ValidationMessage For="@(() => unit.Name)" />
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="@baseLocalizer["IsActiveUnits"]">
        <DxCheckBox  @bind-Checked="unit.IsActive" />
    </DxFormLayoutItem>
   <DxFormLayoutItem>
        <ChildContent Context="buttonContext">
                <DxButton Click="SaveUnit" SubmitFormOnClick="true" RenderStyle="ButtonRenderStyle.Primary">@commonLocalizer["Save"]</DxButton>
                <DxButton Click="Cancel" RenderStyle="ButtonRenderStyle.Secondary">@commonLocalizer["Close"]</DxButton>
        </ChildContent>
        </DxFormLayoutItem>
</DxFormLayout>


</EditForm>



