@page "/unitlist"
@inject IStringLocalizer<BaseStrings> baseLocalizer
@inject IStringLocalizer<CommonStrings> commonLocalizer
@using Microsoft.AspNetCore.Authorization
@using MicroData.Base.UI.Shared.ViewModel
@inject NavigationManager NavigationManager
@rendermode InteractiveServer


@attribute [Authorize]


<div class="header-container">
    <h3>@baseLocalizer["HeaderUnit"]</h3> 
</div>

<div class="button-grid-container">
    <DxButton CssClass="custom-button" @onclick="OnNewButtonClick"> <i class="oi oi-plus"></i> @baseLocalizer["NewUnits"]</DxButton>
</div>


<DxGrid Data="@Units"
        CssClass="mw-1100"
        KeyFieldName="Code">

    <Columns>
        <DxGridDataColumn Caption="@baseLocalizer["CodeUnits"]" FieldName="Code" Width="10%" />
        <DxGridDataColumn Caption="@baseLocalizer["LabelUnits"]" FieldName="Label" />
        <DxGridDataColumn Caption="@baseLocalizer["NameUnits"]" FieldName="Name" />
        <DxGridDataColumn Caption="@baseLocalizer["IsActiveUnits"]" FieldName="IsActive" />
        <DxGridCommandColumn Width="70px">
            <HeaderTemplate>
                
            </HeaderTemplate>
            <CellDisplayTemplate Context="context">
                @{
                    var unit = (UnitViewModel)context.DataItem;
                }
                <a class="oi oi-pencil" style="text-decoration: none; margin-right: 5px; color: var( --bs-primary);  margin-right: 10%;" href="@($"/unitedit/{unit.Id}")" />
                <a class="oi oi-trash" IconCssClass="grid-icon grid-icon-delete" @onclick="() => ShowPopup(unit.Id)" style="text-decoration: none; color: var(--bs-primary);" href="javascript:void(0);" />
            </CellDisplayTemplate>
        </DxGridCommandColumn>
    </Columns>
</DxGrid>



<DxPopup HeaderText="@commonLocalizer["HeaderDeleteWindow"]"
         @bind-Visible="isPopupVisible"
         ShowFooter="true" ShowCloseButton="true"
         BodyText="@commonLocalizer["BodyTextDeleteWindow"]">
    
    <FooterContentTemplate>
        <DxButton CssClass="popup-button my-1 ms-2 custom-delete-button" RenderStyle="ButtonRenderStyle.Primary" Click="ConfirmDelete" Text="@commonLocalizer["Yes"]" />
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Secondary" Click="CancelDelete" Text="@commonLocalizer["No"]" />
    </FooterContentTemplate>
   
</DxPopup>

