@page "/unitedit/{unitId}"
@inject NavigationManager NavigationManager
@using DevExpress.Blazor
@inject IStringLocalizer<BaseStrings> baseLocalizer
@inject IStringLocalizer<CommonStrings> commonLocalizer
@rendermode InteractiveServer




<div class="header-container">
    <h3>@baseLocalizer["UnitChange"]</h3>
</div>


<EditForm Model="@unit"
          OnValidSubmit="@HandleValidSubmit"
          OnInvalidSubmit="@HandleInvalidSubmit"
          Context="EditFormContext">

    <DataAnnotationsValidator />

    <MdToolBarEdit OnButtonClick="HandleButtonClick" OnSave="@SaveUnit" OnCancel="@Cancel" />

    <DxFormLayout>

        <MdTextBoxEditItem @bind-MdBindValue="@unit.Code" 
                           ValueExpression="()=>unit.Code"
                           ShowValidationIcon="true"/>

        <MdTextBoxEditItem MdCaption="@baseLocalizer["LabelUnits"]"
                           @bind-MdBindValue="@unit.Name"
                           ValueExpression="()=>unit.Name"
                           ShowValidationIcon="true" />

        <MdTextBoxEditItem MdCaption="@baseLocalizer["NameUnits"]"
                           @bind-MdBindValue="@unit.Label"
                           ValueExpression="()=>unit.Label"
                           ShowValidationIcon="true" />

        <MdCheckBoxEditItem MdCaption="@baseLocalizer["IsActiveUnits"]" 
                            @bind-MdBindValue = "@unit.IsActive"/>
@* 
        <DxFormLayoutItem Caption="@baseLocalizer["LabelUnits"]">
            <DxTextBox  @bind-Text="unit.Label" ShowValidationIcon="true" />
            <ValidationMessage For="@(() => unit.Label)" />
    </DxFormLayoutItem> 


  <DxFormLayoutItem>
        <ChildContent Context="buttonContext">
                <DxButton Click="SaveUnit" SubmitFormOnClick="true" RenderStyle="ButtonRenderStyle.Primary">@commonLocalizer["Save"]</DxButton>
                <DxButton Click="Cancel" RenderStyle="ButtonRenderStyle.Secondary">@commonLocalizer["Close"]</DxButton>
        </ChildContent>
        </DxFormLayoutItem> *@
</DxFormLayout>


</EditForm>



