@page "/unitList"
@inject IStringLocalizer<BaseStrings> baseLocalizer
@inject IStringLocalizer<CommonStrings> commonLocalizer
@using Microsoft.AspNetCore.Authorization
@using MicroData.Base.UI.Shared.ViewModel
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@* @attribute [Authorize] *@
@using Microsoft.JSInterop;
@inject IJSRuntime JSRuntime

<MdHeader MdCaption="@baseLocalizer["HeaderUnit"]" />


<MdToolBarList OnNewButtonClick="OnNewButtonClick" />



<DxGrid Data="@Units"
        CssClass="mw-1100 grid-container"
        KeyFieldName="Code"
        PageSize="@PageSize"
        PagerVisibleNumericButtonCount="10"
        PagerVisible="true"
        PagerPosition="GridPagerPosition.Top">


        
      
    

    <Columns>
        <DxGridDataColumn Caption="@baseLocalizer["CodeUnits"]" FieldName="Code" Width="10%" />
        <DxGridDataColumn Caption="@baseLocalizer["LabelUnits"]" FieldName="Label" />
        <DxGridDataColumn Caption="@baseLocalizer["NameUnits"]" FieldName="Name" />
        <DxGridDataColumn Caption="@baseLocalizer["IsActiveUnits"]" FieldName="IsActive" />
        <DxGridCommandColumn Width="70px">
            <HeaderTemplate>
                
            </HeaderTemplate>
            <CellDisplayTemplate Context="context">
                @{
                    var unit = (UnitViewModel)context.DataItem;
                }

                <div class="grid-cell-align-center">

                    <MdButtonEdit OnClickEdit="() => ToUnitEdit(unit.Id)" />

                    <MdButtonDelete OnClickDelete="() => ShowPopup(unit.Id)" />
                </div>
            </CellDisplayTemplate>
        </DxGridCommandColumn>
    </Columns>




</DxGrid>
<div class="pager-container">
   
        Total: @Units.Count @commonLocalizer["Unit"]
</div>



<MdPopUpDelete Visible="isPopupVisible"
               OnConfirmDelete="ConfirmDelete"
               OnCancelDelete="CancelDelete"
               MdHeaderText="@commonLocalizer["HeaderDeleteWindow"]"
               MdBodyText="@commonLocalizer["BodyTextDeleteWindow"]" />