@page "/unitlist"
@inject IStringLocalizer<BaseStrings> localizer
@using Microsoft.AspNetCore.Authorization
@using MicroData.Base.UI.Shared.ViewModel
@inject NavigationManager NavigationManager
@attribute [Authorize]

<div class="header-container">
    <h1>@localizer["HeaderUnit"]</h1> 
</div>

<div class="button-grid-container">
    <DxButton CssClass="custom-button" Click="OnNewButtonClick"> <i class="oi oi-plus"></i> @localizer["NewUnits"]</DxButton>
</div>


<DxGrid Data="@Units"
        CssClass="mw-1100"
        KeyFieldName="Code">

    <Columns>
        <DxGridDataColumn Caption="@localizer["CodeUnits"]" FieldName="Code" Width="10%" />
        <DxGridDataColumn Caption="@localizer["LabelUnits"]" FieldName="Label" />
        <DxGridDataColumn Caption="@localizer["NameUnits"]" FieldName="Name" />
        <DxGridDataColumn Caption="@localizer["IsActiveUnits"]" FieldName="IsActive" />
        <DxGridCommandColumn Width="13%">
            <HeaderTemplate>
                
            </HeaderTemplate>
            <CellDisplayTemplate Context="context">
                @{
                    var unit = (UnitViewModel)context.DataItem;
                }
                <a class="oi oi-pencil" style="text-decoration: none; margin-right: 5px;" href="@($"/unitedit/{unit.Id}")"> @localizer["EditUnits"]</a>
                <a class="oi oi-x" style="text-decoration: none; color: #DC143C;" href="javascript:void(0);"> @localizer["DeleteUnits"]</a>
            </CellDisplayTemplate>
        </DxGridCommandColumn>
    </Columns>
</DxGrid>

<DxButton RenderStyle="ButtonRenderStyle.Primary" IconCssClass="dx-icon-aligncenter" Text="dx-icon-aligncenter" />

<h3>UnitList - Napraviti listu jedinica mere sa devexpres gridom</h3>
<h5>UnitList - Dodati akcije, Novi , izmeni, brisanje</h5>
<h5>UnitList - Novi i izmenu neka idu na posebnoj formi </h5>
<h5>UnitList - Pre brisanje postaviti pitanje ? Da li ste sigurni da zelite da obrisete ________   DA /NE </h5>


