@page "/graincataloglist"
@inject IStringLocalizer<BaseStrings> baseLocalizer
@inject IStringLocalizer<CommonStrings> commonLocalizer
@using Microsoft.AspNetCore.Authorization
@using MicroData.Base.UI.Shared.ViewModel
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@* @attribute [Authorize] *@


<div class="header-container">
    <h3>@baseLocalizer["HeaderGrainCatalog"]</h3>
</div>

<div class="button-grid-container">
    <DxButton CssClass="custom-button" @onclick="OnNewButtonClick"> <i class="oi oi-plus"></i> @baseLocalizer["NewUnits"]</DxButton>
</div>

<DxGrid Data="@GrainCatalogs"
        CssClass="mw-1100"
        KeyFieldName="Code">

    <Columns>
        <DxGridDataColumn Caption="@baseLocalizer["CodeUnits"]" FieldName="Code" Width="10%" />
        <DxGridDataColumn Caption="@commonLocalizer["BarCode"]" FieldName="BarCode" />
        <DxGridDataColumn Caption="@baseLocalizer["NameUnits"]" FieldName="Name" />
        <DxGridDataColumn Caption="@commonLocalizer["Unit"]" FieldName="Unit" />
        <DxGridCommandColumn Width="70px">
            <HeaderTemplate>
            </HeaderTemplate>
            <CellDisplayTemplate Context="context">
                @{
                    var unit = (GrainCatalogViewModel)context.DataItem;
                }

                <div class="grid-cell-align-center">
                    <DxButton IconCssClass="grid-icon grid-icon-edit"
                              RenderStyle="ButtonRenderStyle.Link"
                             
                              aria-label="Edit" />

                    <DxButton IconCssClass="grid-icon grid-icon-delete"
                              RenderStyle="ButtonRenderStyle.Link"
                             
                              aria-label="Delete" />
                </div>
            </CellDisplayTemplate>
        </DxGridCommandColumn>
    </Columns>
</DxGrid>
